/* css/index.css */

.site {
	background-color: rgb(255,171,171);
	width: 100%;
	height: 100%;
	display: flex;

	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;

	overflow: scroll;
}

.site__main {
	position: relative;

	align-self: stretch;
	flex-grow: 0.7;
	flex-basis: 0;

	flex-direction: row;
}

.site__left-sidebar {
	background-color: rgb(171,255,171);
/*
	align-self: stretch;
	flex-grow: 0.2;
	flex-basis: 0;
*/
	position: fixed;
	width: 14%;
	height: 100%;
	left: 0;
	top: 0;
}

.site__content {
	margin-left: 20%;

	align-self: stretch;
	flex-grow: 1;
	flex-basis: 0;
}

.products {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.product {
	background-color: rgb(171,171,255);

	display: flex;
	width: 50%;
	height: 250px;
	margin-bottom: 10px;
}

.site__right-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;

/*
	align-self: stretch;
	flex-grow: 0.3;
	flex-basis: 0;
*/
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.cart {
	flex-grow: 0.1;
	flex-basis: 0;
}

.cart__content {
	flex-grow: 0.9;
	flex-basis: 0;
	overflow: scroll;

	flex-direction: column;
	align-item: stretch;
	justyfy-content: flex-start;
}

.cart-item {
	height: 150px;
	margin-bottom: 20px;
	background: rgb(171,255,171);
}

.checkout {
	height: 300px;
	background: rgb(171,171,255);
}
